:root{
    --negro: #292929;
    --blanco: #DBDBDB;
    --rojo: #DB2884;
    --celeste: #28B4DB;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body{
    background-color: var(--blanco);
    margin: 0px;
}

#navBarContainer{
    display: flex;
    width: 100%;
    margin: 0px auto;
    justify-content: space-between;
    max-width: 1200px;
}
header{
    height: 60px;
    width: 100%;
    background-color: var(--negro);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    position: fixed;
    top: 0;
}
h1{
    font-size: 40px;
    color: var(--rojo);
    margin: 5px 20px;
}

.botonNav{
    font-size: 20px;
    background-color: var(--celeste);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    margin: 10px 20px;
    cursor: pointer;
}
.navBar{
    display: none;
}
.navBar_visible{
    position: absolute;
    display: flex;
    background-color: var(--rojo);
    top: 70px;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    height: 80vh;
    overflow-y: auto;
}
.navBar-menu{
    list-style: none;
    padding: 0;
}
.navBar-menu-item{
    margin: 20px;
    border-style: solid;
}
.menu-item-link{
    color: var(--negro);
    font-size: 30px;
    text-decoration: none;
}
.menu-item-link:hover{
    color: var(--celeste);
}

#fotoYNombre{
    padding: 20% 0 40% 0;
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
    height: 80vh;
}
#pfp{
    border-radius: 50%;
    border: solid var(--negro);
}
#nomYApe{
    margin: 0;
}

article{
    width: 90%;
    margin-left: 5%;
}
section{
    padding: 4% 10%;
    margin-bottom: 40px;
    display: grid;
    justify-content: center;
    justify-items: center;
    background: linear-gradient(#DB2884, #28B4DB);
    border-radius: 20px;
}

#listaHabilidades{
    width: 60vw;
}

.barraProgreso{
    margin: 10px;
    background-color: var(--blanco);
    font-weight: bold;
    border-radius: 20px;
}

@media (min-width: 800px){
    body{
        font-size: 20px;
    }
    
    header{
        height: 80px;
        border-radius: 0px;
        justify-content: space-between;
    }
    h1{
        font-size: 50px;
        margin: 8px 30px;
    }

    .botonNav{
        display: none;
    }
    .navBar{
        display: flex;
        margin-right: 30px;
    }
    .navBar_visible{
        position: relative;
        display: flex;
        background-color: var(--negro);
        top: 0;
        width: 100%;
        border-radius: 0;
        justify-content: right;
        height: fit-content;
        overflow-y: none;
    }    
    .navBar-menu{
        display: flex;
    }
    .navBar-menu-item{
        cursor: pointer;
        margin: 0 5px;
        padding: 8px;
        background-color: var(--celeste);
        border-style: none;
        border-radius: 4px;
    }
    .menu-item-link{
        color: var(--negro);
        font-size: 20px;
    }
    .navBar-menu-item:hover{
        background-color: var(--rojo);
    }

    #fotoYNombre{
        width: 25%;
        float: left;
        margin: 80px 0 0 0;
        position: fixed;
        padding: 3%;
        height: 100vh;
        border-radius: 0;
    }

    span{
        font-size: 30px;
    }
    
    article{
        width: 75%;
        float: right;
        margin-top: 110px;
    }
    section{
        margin-left: 5%;
        margin-right: 5%;
        padding: 3% 7%;
        border-radius: 5px;
    }
    
}

@media (min-width: 1630px){
    body{
        font-size: 30px;
    }
    header{
        height: 100px;
        border-radius: 0px;
    }
    h1{
        font-size: 60px;
        margin: 20px 40px;
    }

    #navBarContainer{
        max-width: 2200px;
    }    
    .navBar{
        margin-right: 40px;
    }
    .navBar-menu-item{
        cursor: pointer;
        margin-right: 20px;
        padding: 0 20px;
    }
    .menu-item-link{
        color: var(--negro);
        font-size: 30px;
    }
    .navBar-menu-item:hover{
        background-color: var(--rojo);
    }

    #fotoYNombre{
        margin: 100px 0 0 0;
    }

    span{
        font-size: 50px;
    }
    
    article{
        margin-top: 130px;
    }
}